<div class="form-container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="email"
        autocomplete="email"
        placeholder="Email"
        [formControl]="email"
        required>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        autocomplete="current-password"
        [formControl]="password"
        placeholder="Password"
        required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
  
    <button
      mat-raised-button
      color="primary"
      [disabled]="(email.invalid || password.invalid) ? true : false">
        Signup
    </button>
  </form>
</div>
